[submodule "gnustep-libobjc2"]
	path = gnustep-libobjc2
	url = git@github.com:jackoalan/gnustep-libobjc2.git
[submodule "gnustep-base"]
	path = gnustep-base
	url = git@github.com:jackoalan/gnustep-base.git
[submodule "llvm"]
	path = llvm
	url = git@github.com:jackoalan/llvm.git
[submodule "clang"]
	path = clang
	url = git@github.com:jackoalan/clang.git
[submodule "compiler-rt"]
	path = compiler-rt
	url = git@github.com:jackoalan/compiler-rt.git
